#repo-list-title-section, #friends-list-title-section {
  padding-left: 1.5%;
  display: inline-block;
}

#drop-collections-button {
  display: inline-block;
  background-color: pink;
  border: 1px solid darkred;
  border-radius: 5px;
  margin-left: 2%;
}

#inner-button {
  background-color:red;
  color: white;
  border: 2px solid darkred;
  border-radius: 5px;
  margin: 5px;
}

#inner-button:hover {
  cursor: pointer;
}
.fortune-title {
  text-decoration: underline;
}

#add-repo-section {
  padding-left: 1.5%;
}
.validated {
  margin-top: 1vh;
  border: 2px solid darkslategrey;
  padding-left: 0px;
}

.validated:nth-child(n){
  background-color: green;
  color: ivory;
  width: 50vw;
  border-radius: 5px;
  padding: .25vh .5vw .25vh 1.5vw;
}

.userLi {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
}

.highlighted-user-li {
  background-color: green;
  color: ivory;
  display: inline-block;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
}

.userLi:hover {
  cursor: pointer;
}

.invalidated:nth-child(n){
  background-color: red;
  color: ivory;
  width: 50vw;
  border-radius: 5px;
  padding: .25vh .5vw .25vh 1.5vw;
}

.repo-entry {
  list-style-type: none;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}


.page-nos {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  color: ivory;
  background-color: lightslategray;
}

.page-nos:hover {
  background-color: darkslategrey;
  color: ivory;
  cursor: pointer;
}
.contributors-container {
display: grid;
grid-template-columns: auto auto auto;
}

.contributor-title {
  margin: 5px;
  margin-left: 0px;
}
.contributors-container > p {
  margin: 0px;
  margin-bottom: 10px;
}

.contributor {
    /* background-color: blue; */
}

#friends-list-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-left: 2.5%;
  padding-left: 1.5%;
  /* margin-right: 2.5%; */
}


